# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build outputs
dist
dist-ssr

# Local env files
.env
.env.local
.env.*.local

# Vite / local files
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea

# OS files
.DS_Store

# TypeScript / build artifacts
*.tsbuildinfo

# Optional IDE files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
